@font-face {
  font-family: 'Chandia'; 
  src: url('ChandiaDecorative_PERSONAL_USE_ONLY.woff2') format('woff2'); 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap; 
}

#home {
      background-image: url("bg.png"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }

.heading-callig {
      font-family: 'Chandia', 
      font-size: 40px;
    }
  .navbar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar {
  background: rgba(251, 234, 214, 0.75); 
  padding: 12px 30px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 6px 15px rgba(114, 106, 126, 0.25);
  display: flex;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 16px;
  color: #6B7556; 
  padding: 8px 14px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #F0C4CB; 
  color: #726A7E; 
}

.nav-link:active {
  background-color: #C87D87;
  color: #FBEAD6; 
}
