@font-face {
  font-family: "ChandiaDecorative";
  src: url("ChandiaDecorative_PERSONAL_USE_ONLY.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


#home {
      background-image: url("bg.png"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }
.others { /*forda pages na di home*/
      background-image: url("bg2.jpg"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }
#footer {
  background-color: rgba(229, 188, 169, 0.65);
  font-family: Georgia, serif;
  font-size: 15px;
  text-align: center;
  color: rgba(222, 166, 140. 0.80);
}

#heading-callig {
  font-family: 'ChandiaDecorative', Georgia, serif;
  font-size: 120px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.regular-callig {
  font-family: 'ChandiaDecorative', Georgia, serif;
  font-size: 95px;
  text-align: center;
  color: #381708;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#name {
  font-family: 'ChandiaDecorative', Georgia, serif;
  font-size: 55px;
  text-align: center;
  color: #381708;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#subtext {
  font-family: Georgia, serif;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.desc {
  font-family: Georgia, serif;
  font-size: 23px;
  text-align: center;
  color: #381708;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

p, h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  color: #381708
}

  .navbar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar {
  background: rgba(229, 188, 169, 0.65); 
  padding: 14px 34px;
  border-radius: 22px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 8px 18px rgba(114, 106, 126, 0.3);
  display: flex;
  gap: 28px;
  transition: transform 0.3s ease;
  border: 3px solid  #381708;
}

.navbar:hover {
  transform: scale(1.03);
}

.nav-link {
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 16px;
  font-weight: bold;
  color: #6B7556; 
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.nav-link:hover {
  background-color: rgba(222, 166, 140. 0.80); 
  color: #726A7E; 
  transform: scale(1.5);
}

.nav-link:active {
  background-color: #C87D87; 
  color: #FBEAD6; 
}
.text {
  background-color: #FBEAD6; 
  border-radius: 25px;
  padding: 35px 45px;
  max-width: 65%;
  margin: 40px auto;
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 1.8;
  color: #726A7E; 
  box-shadow: 0px 10px 20px rgba(114, 106, 126, 0.25);
  border: 2px solid #381708; 
}
#dearest {
  font-size: 22px;
  font-weight: bold;
  color: #C87D87; 
  letter-spacing: 1px;
  font-family: "Georgia", serif;
}

.yt {
  background-color: #FBEAD6; 
  padding: 25px;
  border-radius: 25px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0px 12px 25px rgba(114, 106, 126, 0.3);
  border: 2px solid #E5BCA9; 
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.yt:hover {
  transform: scale(1.05);
}

.yt iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border-radius: 20px;
}
    .ako {
      background-color: #F0C4CB;
      max-width: 800px;
      margin: auto;
      padding: 25px;
      border-radius: 25px;
      border: 3px solid #C87D87;
      box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
      text-align: center;
    }
    .profile {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid #6B7556;
      box-shadow: 0 5px 20px rgba(0,0,0,0.3);
      margin-bottom: 15px;
    }
