@font-face {
  font-family: 'Chandia'; 
  src: url('ChandiaDecorative_PERSONAL_USE_ONLY.woff2') format('woff2'); 
  font-weight: normal; 
  font-style: normal; 
  font-display: swap; 
}

#home {
      background-image: url("bg.png"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }
